# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Optimized contracts
/src/practice/optimized/

# other
src/*
!src/StoragePacking.sol
README_WIP.md
OPTIMIZATIONS.md
test/*
!test/basics/
